node_modules/
.next/
out/
build/
dist/

# Env
.env
.env.local
.env.*.local

# Logs
*.log
npm-debug.log*

# Prisma
prisma/*.db
prisma/*.db-journal

# OS
.DS_Store

# IDE
.vscode/
.idea/

# Vercel
.vercel

# User uploads (logo, cover, foto layanan) — JANGAN commit
# Folder ini adalah runtime artifact, bukan source code
public/uploads/

# TypeScript build cache
tsconfig.tsbuildinfo

